 .tab_teamtable {
     .title {
         text-align: left;
         text-indent: 6px;
         font-weight: 500;
     }

     :global .ant-table-thead>tr>th {
         color: #000028 !important;
         background-color: #FAFBFD;
         border: none;
         padding: 8px;
         font-weight: normal;

     }

     :global .rowbgcolor {
         background-color: antiquewhite;
     }

     :global .ant-table-cell::before {
         width: 0 !important;
     }

     :global .ant-table-tbody>tr>td {
         font-size: 13px;
         padding: 10px;
     }

 }