.tag {
  display: flex;
  align-items: center;
  height: 12px;
  margin-bottom: 2px;
}
.tag_left {
  display: block;
  width: 10px;
  height: 10px;
  margin-right: 4px;
}

.tag_right {
  height: 12px;
  margin-left: 0px;
  color: #333333;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  word-break: keep-all;
}
.tag_right_txt {
  width: 120%;
  transform: scale(0.87);
  transform-origin: left;
}
