.info_card_box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
    height: 40px;

    .info_card {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .list {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .list_center {
        width: 30%;
        height: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-right: 0.5px solid #FFFFFF;
        border-left: 0.5px solid #FFFFFF;
    }

    .text {
        font-size: 12px;

    }

    .is_win {
        font-size: 12px;
    }
}