  .guess_info {
      width: 100%;
      position: absolute;
      top: 270px;

      .my_guess_info {
          border-radius: 8px 8px 0 0;
          background-color: #fff;
          padding: 12px;

      }
  }