.library {
  .nav {
    // background-color: #FA5900;

    :global .adm-tabs-header {
      background-color: #FA5900;
      border: none;
      color: #fff;
    }

    :global .adm-tabs-tab-active {
      font-size: 20px;
      color: #fff;
      font-weight: 500;
    }

    :global .adm-tabs-header-mask {

      width: 0;
    }

    .nav_child {
      background-color: #fff;
      border-radius: 10pt 10pt 0pt 0pt;
    }
  }
}