.oddstype_main {
    color: #848494;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    font-size: 13px;
    // padding: 10px 0;

    .oddstype_box {
        display: flex;

        .oddstype_title {

            height: 40px;
            line-height: 40px;
            text-align: center;
            border-bottom: 1px solid #EDEDED;

            .icon {
                margin: 0 5px
            }
        }

        .oddstype_box_right {
            width: 37%;

        }

        .oddstype_box_left {
            flex: 1;

        }

        .oddstype_inital {
            width: 100%;
            padding: 0 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .oddstype_odd {
                text-align: center;
                width: 40px;
            }
        }

        .oddstype {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            line-height: 26px;

            height: 90px;
            border-right: 1px solid #EDEDED;
        }
    }

}