.fule {
    color: #848494;
    font-size: 14px;
    padding: 12px;
    border-radius: 10px 10px 0 0;
    background-color: #F7F7F7;
    // min-height: 300px;

    .title_rule {
        color: #000028;
        font-size: 16px;
        font-weight: 500
    }

    .title {
        width: 85px;
        color: #000028;
        font-size: 17px;
        background-image: url("~@//assets/match/detail_title_logo.png");
        background-repeat: no-repeat;
        background-position: right;
    }
}