.guess_rank_info {
    width: 100%;
    position: absolute;
    top: 70px;
    height: 100%;
    background-color: #fff;

    .guess_rank {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .guess_rank_tab {

        width: 165px;

        background-color: #F7F7F7;
        border-radius: 50px;
    }
}