.title {
    text-align: center;
    font-size: 16px;
    color: #000028;
    height: 50px;
    line-height: 50px;
}

.time {
    color: rgb(132, 132, 148);
    border-right: 1px dashed #eee;
    height: 50px;
    line-height: 50px;
    width: 104px;
    text-align: center;
}

.group_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    font-size: 14px;
    // padding: 20px;
    border-bottom: 1px dashed #eee;
    border-top: 1px dashed #eee;

    .logo_name {
        display: flex;
        align-items: center;
        // justify-content: center;
        width: 100px;
        height: 30px;
    }

    .team_logo {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        object-fit: cover;
    }
}