.main_guess_bg {
    background-color: #F7F7F7;

    .guess_bg {
        padding-top: 20px;
        height: 300px;
        background-image: url("~@/assets/worldcup/guess_bg.png");
        background-position: center center;
        background-size: 100% 100%;
        position: relative;
    }
}