.main_guess_bg {
    background-color: #F7F7F7;
    height: 100%;

    .guess_bg {
        padding-top: 20px;
        height: 300px;
        background-image: url("~@/assets/worldcup/guess_bg.png");
        background-position: center center;
        background-size: 100% 100%;
        position: relative;

        .guess_rule {
            width: 22px;
            height: 40px;
            position: absolute;
            right: 0;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }


}