.guess_main {
    width: 100%;
    font-size: 16px;


    // height: 100px;
    .guess_tab {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .more {
            height: 30px;
            line-height: 30px;
            color: #fff;
            font-size: 12px;
        }

        .guess_ativeKey_tab {
            background-color: #fff;
            width: 80px;
            height: 30px;
            line-height: 30px;
            text-align: center;

            color: #7E1132;
            border-radius: 5px 5px 0px 0px;
        }

        .guess_default_tab {
            // background-color: #fff;

            width: 80px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #fff;
        }


    }



    .card_content_box {


        border-radius: 0 6px 6px 6px;
        height: 176px;
        background-color: #fff;
        padding: 12px;
        margin-top: -1px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .card_content {


            width: 30%;
            height: 70px;
            padding: 8px 0;
            background-image: url("~@/assets/worldcup/rank_tab.png");
            background-position: center center;
            border-radius: 6px;
            position: relative;
            background-size: cover;
            margin-top: 23px;

            .card_content_name {
                // display: flex;
                width: 100%;
                margin-top: 20px;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                display: flex;

                .card_content_nameleft {
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    background-color: #eee;
                    top: -25px;
                    border-radius: 50px;
                    border: 1.5px solid;

                    .Avatar {
                        width: 47px;
                        height: 47px;
                    }

                    .rank {
                        position: absolute;
                        width: 40px;
                        height: 40px;
                        top: -18px;
                        left: -12px;
                    }
                }

                .guess_num {
                    color: #AA6278;
                    width: 54px;
                    height: 16px;
                    line-height: 15px;
                    font-size: 11px;
                    border: 0.1px solid #AA6278;
                    border-radius: 8px;
                    text-align: center;
                    margin: 2px 0;
                }

            }

            .card_content_return {
                width: 100px;
                text-align: center;
                color: #AA6278;
                font-size: 9px;
            }
        }
    }

}