.navlist {
    font-size: 14px;
    color: #848494;
    width: 100%;
    // background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    line-height: 16px;

    .navlist_flex {
        width: 23%;
        height: 90px;
        background-image: url("~@/assets/match/library_navbg.png");
        background-repeat: no-repeat;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 10px;
        margin: 20px 0;
        flex-direction: column;
        // line-height: 30px;
        position: relative;

        // border-radius: 0 0 30px 30px;

        .logo {
            width: 45px;
            height: 45px;
            border-radius: 20px;
            background-color: #fff;
            border: 1px solid #FAFBFD;
            position: absolute;
            top: -25px;

            .logo_default_img {
                width: 45px;
                height: 45px;
            }

            .logo_img {
                width: 35px;
                height: 35px;
                margin: 5px;
            }
        }

        .num {
            text-align: center;
            width: 55px;
            height: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            // line-height: 20px;
            border-radius: 20px;
            border: 1px solid #848494;
            margin-top: 5px;
            font-size: 12px;
        }
    }

}